#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btTituloConversa{
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Scrollbar */
/* scrollbar moderna */
.scroll-modern {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Chrome / Edge / Safari */
.scroll-modern::-webkit-scrollbar {
  width: 4px;
}

.scroll-modern::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-modern::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
  transition: background 0.2s ease;
}

/* aparece no hover */
.scroll-modern:hover::-webkit-scrollbar-thumb {
  background: rgba(100,100,100,0.5);
}

/* Firefox */
.scroll-modern:hover {
  scrollbar-color: rgba(100,100,100,0.5) transparent;
}